# Basic String Operations

## 1-)Creating & Formatting

In [1]:
name="Kenan"

In [2]:
3*name

'KenanKenanKenan'

In [3]:
"kenan" +"kaya"

'kenankaya'

In [6]:
"M"+name[1:]

'Menan'

In [7]:
"M"+name[2:]

'Mnan'

In [11]:
names=["kenan","betul","zehra","omer"]
for i in names:
    print("Name:" ,i ,sep="/")

Name:/kenan
Name:/betul
Name:/zehra
Name:/omer

In [16]:
for i in names:
    print("_", i[1:], sep="")

_enan
_etul
_ehra
_mer

In [19]:
print(*enumerate(names))

(0, 'kenan') (1, 'betul') (2, 'zehra') (3, 'omer')

In [20]:
for i in enumerate(names):
    print(i)

(0, 'kenan')
(1, 'betul')
(2, 'zehra')
(3, 'omer')

In [22]:
for i in enumerate("names"):
    print(i)

(0, 'n')
(1, 'a')
(2, 'm')
(3, 'e')
(4, 's')

In [25]:
for i in enumerate("names",4):
    print(i)
#To start the numbering from 4, you must also write 4 in parentheses.

(4, 'n')
(5, 'a')
(6, 'm')
(7, 'e')
(8, 's')

## 2-)Type Queries

In [27]:
"kenan" .isalpha()
#This function queries whether the values in the string are letters or not.

True

In [28]:
"kenan30".isalpha()

False

In [29]:
"123".isnumeric()
#This function queries whether the values in the string are numeric or not.

True

In [30]:
"123".isdigit()

True

In [32]:
"kenan345".isalnum()
#This function queries whether the values in the string are both numeric and alphabetic.

True

In [33]:
"kenan345:],,,".isalnum()

False

## 3-) Indexes and values queries

In [34]:
name1="kenan kaya betul sencar"

In [35]:
name1

'kenan kaya betul sencar'

In [38]:
name1[0:9]

'kenan kay'

In [39]:
name1.index("t")

13

In [40]:
name1.index("a")

3

In [43]:
name1.index("a",4)
#Shows the index of the letter "a" after 4. index

7

## 4-)Querying Start and End Characters: startswith () & endswith ()

In [44]:
name1

'kenan kaya betul sencar'

In [46]:
name1.startswith("a")

False

In [47]:
name1.startswith("k")

True

In [48]:
name1.startswith("K")

False

In [49]:
name1.endswith("n")

False

In [50]:
name1.endswith("r")

True

In [51]:
name1.endswith("R")

False

## 5-)COUNT

In [52]:
name1.count("k")

2

In [56]:
name1.count("a") #Finds how many "a" are in the string

4

In [57]:
name1.count("an")

1

In [58]:
name1.count("b")

1

In [59]:
name1.count("bet")

1

## 6-)Sorted

In [62]:
print(sorted(name1))
# The sorted function creates a list by sorting the letters of the string alphabetically.

[' ', ' ', ' ', 'a', 'a', 'a', 'a', 'b', 'c', 'e', 'e', 'e', 'k', 'k', 'l', 'n', 'n', 'n', 'r', 's', 't', 'u', 'y']

In [65]:
print(*sorted(name1),sep=" ")

      a a a a b c e e e k k l n n n r s t u y

## 7-) Split ()

In [66]:
name1

'kenan kaya betul sencar'

In [68]:
name1.split()
#By default, separation is made according to the gap between words.

['kenan', 'kaya', 'betul', 'sencar']

In [69]:
name1.split(",")
# we wanted to do the separation by comma
# but it did not do any parsing because there is no comma character in the string.

['kenan kaya betul sencar']

In [70]:
name2="kenan_kaya_betul_sencar"
name2.split("_")

['kenan', 'kaya', 'betul', 'sencar']

## 7-)Capital and Small Letter Operations

In [72]:
name1

'kenan kaya betul sencar'

In [73]:
A=name1.upper()
A

'KENAN KAYA BETUL SENCAR'

In [74]:
A.lower()

'kenan kaya betul sencar'

## 8-) capitalize() & title() & swapcase()

In [76]:
name1

'kenan kaya betul sencar'

In [77]:
name1.capitalize() #enlarges the  only first letter of string

'Kenan kaya betul sencar'

In [79]:
name1.title()

'Kenan Kaya Betul Sencar'

In [81]:
name3="KENan kaYa BETul sencar"

In [83]:
name3.swapcase()
# Convert into uppercase letters to  lowercase and vice versa

'kenAN KAyA betUL SENCAR'

## 9-)strip(), lstrip(), rsting()

In [85]:
x="   hello     "
x

'   hello     '

In [87]:
x.strip()
#clipped the gaps to the right and left

'hello'

In [88]:
y="****hello*****"
y

'****hello*****'

In [89]:
y.strip("*")

'hello'

In [90]:
y.rstrip("*")

'****hello'

In [91]:
y.lstrip("*")

'hello*****'

## 10-)join()

In [93]:
name1

'kenan kaya betul sencar'

In [96]:
sep_name= name1.split()
sep_name

['kenan', 'kaya', 'betul', 'sencar']

In [97]:
" ".join(sep_name)

'kenan kaya betul sencar'

In [98]:
"///".join(sep_name)

'kenan///kaya///betul///sencar'

In [99]:
"*******".join(sep_name)

'kenan*******kaya*******betul*******sencar'

## 11-)replace(), str.maketrans(), translate()

In [101]:
name1

'kenan kaya betul sencar'

In [102]:
name1.replace("k","m")

'menan maya betul sencar'

In [103]:
name1.replace("ken","mey")

'meyan kaya betul sencar'

In [104]:
expression="Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

In [105]:
standart_letter = "çÇğĞıİöÖşŞüÜ"
edited_letter = "cCgGiIoOsSuU"

In [106]:
alphabet_edited=str.maketrans(standart_letter,edited_letter)

In [107]:
expression.translate(alphabet_edited)

'Bu ifade Icerisinde bagzi TUrkce karakterler vardir'

## 12-) str.contains()

In [110]:
import pandas as pd
names4 = ["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v = pd.Series(names4)

In [111]:
v

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [112]:
v.str.contains("al")
#This function checks whether the statement "al" exists in the elements in the pandas series named v.

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [113]:
v[v.str.contains("al")]

2     ali
3    aali
dtype: object

In [114]:
v.str.contains("al").sum()

2