# Text Analytics

## Text Preprocessing

In [1]:
text="""
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### 1-) Convert Text into DataFrame

In [2]:
text.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [3]:
v_text = text.split("\n")

In [4]:
import pandas as pd
v=pd.Series(v_text)

In [5]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [6]:
text_vector=v[1:len(v)]

In [7]:
text_vector

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [8]:
mdf=pd.DataFrame(text_vector, columns=["Stories"])

In [9]:
mdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

### 2-)Converting all letters into Lowercase

In [10]:
d_mdf=mdf.copy()
d_mdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [11]:
list1 = [1,2,3]

In [12]:
str1 = "***".join(str(i) for i in list1)

In [13]:
str1

'1***2***3'

In [14]:
lowercase_df=d_mdf["Stories"].apply(lambda x: " ".join(i.lower() for i in x.split()))

In [15]:
lowercase_df

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [16]:
type(lowercase_df)

pandas.core.series.Series

In [17]:
lowercase_df=pd.DataFrame(lowercase_df,columns=["Stories"])
# we need to convert pandas series into pandas data frame in order to apply some certain  function

In [18]:
lowercase_df

                                  Stories
1                a scandal in bohemia! 01
2                 the red-headed league,2
3                  a case, of identity 33
4            the boscombe valley mystery4
5                   the five orange pips1
6           the man with? the twisted lip
7     the adventure of the blue carbuncle
8      the adventure of the speckled band
9   the adventure of the engineer's thumb
10    the adventure of the noble bachelor
11     the adventure of the beryl coronet
12    the adventure of the copper beeches

### 3-)Deleting Punctuation Marks

In [19]:
lowercase_df

                                  Stories
1                a scandal in bohemia! 01
2                 the red-headed league,2
3                  a case, of identity 33
4            the boscombe valley mystery4
5                   the five orange pips1
6           the man with? the twisted lip
7     the adventure of the blue carbuncle
8      the adventure of the speckled band
9   the adventure of the engineer's thumb
10    the adventure of the noble bachelor
11     the adventure of the beryl coronet
12    the adventure of the copper beeches

In [20]:
no_punctuation_df=lowercase_df["Stories"].str.replace("[^\w\s]","")
no_punctuation_df

# [^\w\s] means that  getting all characters in de text  excluding letters in de alphabet

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Stories, dtype: object

In [21]:
no_punctuation_df=pd.DataFrame(no_punctuation_df,columns=["Stories"])
no_punctuation_df
# we need to convert pandas series into pandas data frame in order to apply some certain  function

                                 Stories
1                a scandal in bohemia 01
2                  the redheaded league2
3                  a case of identity 33
4           the boscombe valley mystery4
5                  the five orange pips1
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

### 4-) Deleting Numbers

In [22]:
no_number_df=no_punctuation_df["Stories"].str.replace("\d","")
no_number_df

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Stories, dtype: object

In [23]:
no_number_df=pd.DataFrame(no_number_df,columns=["Stories"])
no_number_df
# we need to convert pandas series into pandas data frame in order to apply some certain  function

                                 Stories
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

### 5-)Deleting Stopwords

In [24]:
no_number_df

                                 Stories
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

In [25]:
# !pip install nltk

In [26]:
import nltk

In [27]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [28]:
from nltk.corpus import stopwords

In [29]:
sw=stopwords.words("English")

In [30]:
sw[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [31]:
no_stopwords_df=no_number_df["Stories"].apply(lambda x: " ".join(i for i in x.split() if i not in sw ))
no_stopwords_df

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Stories, dtype: object

In [32]:
no_stopwords_df=pd.DataFrame(no_stopwords_df,columns=["Stories"])
no_stopwords_df
# we need to convert pandas series into pandas data frame in order to apply some certain  function

                      Stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

### 6-)Deleting of low frequency words

In [33]:
no_stopwords_df

                      Stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [34]:
" ".join(no_stopwords_df["Stories"]).split()

['scandal',
 'bohemia',
 'redheaded',
 'league',
 'case',
 'identity',
 'boscombe',
 'valley',
 'mystery',
 'five',
 'orange',
 'pips',
 'man',
 'twisted',
 'lip',
 'adventure',
 'blue',
 'carbuncle',
 'adventure',
 'speckled',
 'band',
 'adventure',
 'engineers',
 'thumb',
 'adventure',
 'noble',
 'bachelor',
 'adventure',
 'beryl',
 'coronet',
 'adventure',
 'copper',
 'beeches']

In [35]:
pd.Series(" ".join(no_stopwords_df["Stories"]).split())

0       scandal
1       bohemia
2     redheaded
3        league
4          case
5      identity
6      boscombe
7        valley
8       mystery
9          five
10       orange
11         pips
12          man
13      twisted
14          lip
15    adventure
16         blue
17    carbuncle
18    adventure
19     speckled
20         band
21    adventure
22    engineers
23        thumb
24    adventure
25        noble
26     bachelor
27    adventure
28        beryl
29      coronet
30    adventure
31       copper
32      beeches
dtype: object

In [36]:
pd.Series(" ".join(no_stopwords_df["Stories"]).split()).value_counts()

adventure    6
pips         1
bohemia      1
league       1
scandal      1
carbuncle    1
lip          1
man          1
engineers    1
thumb        1
case         1
blue         1
beryl        1
noble        1
valley       1
twisted      1
orange       1
identity     1
boscombe     1
copper       1
speckled     1
mystery      1
band         1
redheaded    1
beeches      1
five         1
bachelor     1
coronet      1
dtype: int64

In [37]:
low_frequency_words=pd.Series(" ".join(no_stopwords_df["Stories"]).split()).value_counts()[-3:]

In [38]:
low_frequency_words #the frequencies and names of the words we want to delete.

five        1
bachelor    1
coronet     1
dtype: int64

* Let's assume that these are words with less frequency. Since there are not enough repetitive words in our example, we want to delete 3 words from the end according to the index.

In [39]:
high_frequency_df=no_stopwords_df["Stories"].apply(lambda x: " ".join( i for i in x.split() if i not in low_frequency_words))
high_frequency_df

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5                   orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10              adventure noble
11              adventure beryl
12     adventure copper beeches
Name: Stories, dtype: object

In [40]:
high_frequency_df=pd.DataFrame(high_frequency_df,columns=["Stories"])
high_frequency_df
# we need to convert pandas series into pandas data frame in order to apply some certain  function

                      Stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5                 orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10            adventure noble
11            adventure beryl
12   adventure copper beeches

### 7-)Tokenization

* Tokenization means divided the  sentences into the words

In [42]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [44]:
# !pip install textblob

In [45]:
import textblob

In [46]:
from textblob import TextBlob

In [48]:
high_frequency_df["Stories"][1]

'scandal bohemia'

In [50]:
TextBlob(high_frequency_df["Stories"][1]).words

WordList(['scandal', 'bohemia'])

In [51]:
high_frequency_df["Stories"].apply(lambda x: TextBlob(x).words )

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5                    [orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10               [adventure, noble]
11               [adventure, beryl]
12     [adventure, copper, beeches]
Name: Stories, dtype: object

### 8-)Stemming

* STEMMING means separating a word to its roots.

In [53]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [54]:
high_frequency_df["Stories"].apply(lambda x: " ".join(st.stem(word) for word in x.split()))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5                  orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10             adventur nobl
11            adventur beryl
12     adventur copper beech
Name: Stories, dtype: object

### 9-)Lemmatization

* Lemmatization is the operation of finding the roots of words that are more successful than the stemming operation.

In [55]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [57]:
Word(high_frequency_df["Stories"][8]).lemmatize()

'adventure speckled band'

In [60]:
lemmatization_df=high_frequency_df["Stories"].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))
lemmatization_df

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5                   orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10             adventure noble
11             adventure beryl
12      adventure copper beech
Name: Stories, dtype: object

In [61]:
lemmatization_df=pd.DataFrame(lemmatization_df,columns=["Stories"])
lemmatization_df #  dataframe after text-mining operations

                     Stories
1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5                 orange pip
6            man twisted lip
7   adventure blue carbuncle
8    adventure speckled band
9   adventure engineer thumb
10           adventure noble
11           adventure beryl
12    adventure copper beech

In [63]:
d_mdf # dataframe before text-mining operations

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches